/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2018-06-27, 21:29:04
    Author     : Dawid
*/

body {
   background-color: #333;
   position: relative;
}
#square {
   width: 50px;
   height: 50px;
   background-color: #ffcccc;
   margin: 0.6rem auto;
  
}
#main {
   background-color:  #313;
   width: 70px;
   height: 70px;
    position: absolute;
     top: 25rem;
   left: 50%;
  
/*   &:hover{
      transform:rotate(3600deg) scale(1.5,1.5);
      transition: all 5s ease-in;
      
   }*/
  
}

